*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url(Windows-11-wallpaper2-.jpeg); */
    /* background: #ffffff; */
    background-size: cover;
    overflow: hidden;
    height: 100vh;

}

.taskbar{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #202020;
    z-index: 10;
    height: 6%;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    height: 100%;
}

video{
    height: 95%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.startmenu{
    position: absolute;
    bottom: -590px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}

.startmenu img{
        border-radius: 10px;
        width: 500px;
}

.icons{
    position: absolute;
}
.icons img{
    margin-left: 12px;
    margin-top: 12px;
    width: 30px;
}
